body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#view {
  background-image: url('./pictures/main.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#mask {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    rgba(72, 15, 144, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
/* #classicformpage .card {
  background-color: rgba(255, 255, 255, 0.2);
} */

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#classicformpage label {
  color: #fff !important;
}

#signUp {
  color: white !important;
}

#lorem {
  color: white !important;
}

.view .mask {
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#registration {
  color: white !important;
  text-align: center;
}

#chui-color {
  color: pink;
}
